/*
 * Made by Erik Terwan
 * 24th of November 2015
 * All rights reserved
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
html {
	overflow:  hidden;
	width: 100%;
}

header {
	width: 100%;
	background: black;
	height: 130px;
	display: inline-block;
}

body
{
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  width: 30px;
  top: 50px;
  left: 50px;
  
  z-index: 1;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 3;
  
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 2;
}

#menuToggle input:checked ~ span
{
  background: #232323;
}


#menu
{
  position: absolute;
  width: 150px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  transform: translate(0%, -100%);
  
  transition: transform 0.5s;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul
{
	transform: none;
}

#box {
	height: 70px;
	width: 75px;
	position: absolute;
    right: 5%;
    cursor: pointer;
}

#cartInfo {
	height: 50px;
	margin: 10px;
	margin-right: 50px;
}
